@import "./reset.css";
:root {
  /* Color Variables */
  --color-primary: #2196f3;
  --color-secondary: #f9a825;
  --color-background: #121212;
  --color-text: #ffffff;
  --color-accent: #757575;
  --color-secondarybackground: #222121;

  /* Other Variables */
  --border-radius: 4px;
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.App {
  text-align: center;
}

.flex {
  display: flex;
}

Header {
  background-color:var(--color-secondarybackground);
  color: var(--color-text);
  border-bottom: solid 1px var(--color-background);
}

.titleWrapper {
  padding: 10px 0px 0px 0px;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.navList {
  list-style: none;
}

.navbarButtons {
    background: none;
    font: inherit;
    padding: 20px 0px 20px 20px;
    cursor: pointer;  
    color: var(--color-text);
}

/***** Banner ******/
.banner-background{
  max-height: 1800px;
  padding: 100px 50px;
  background-color: var(--color-secondarybackground);
}

.banner-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  font-size: 30px;
  color: var(--color-text);
}

.banner-title{
  margin: -20px 0px 40px;
}

.banner-content {
  font-size: 0.66em;
  line-height: 33px;
}

.banner-buttons button {
  background: none;
  flex-wrap: wrap;
  margin: 50px 25px 0;
  font-size: 24px;
  border-radius: 5px;
  padding: 10px 35px;
  min-width: 185px;
}

.banner-buttons .button-primary {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.banner-buttons .button-secondary {
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
}

/*** gallery ***/

.card {
  width: 290px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s ease;
}

.card:hover{
  transform: translate(0, -10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: var(--color-primary);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  display: flex;
  justify-content: center;
  /* margin-top: 75px; */
  padding: 125px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}